@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Rubik&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: Rubik, sans-serif;
}
* {
  box-sizing: border-box;
}
.fullscreen {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  background-color: #a27165;
  position: relative;
  
}
.choicebox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(168, 168, 168, 0.84);
  display: flex;
  justify-content: center;
  align-items: center;
}
.choicebox .box {
  background: white;
  width: 80%;
  max-width: 600px;
  border: 2px solid gray;
  border-radius: 1rem;
  padding: .7rem;
  display: flex;
  flex-direction: column;
}
.choicebox .title {
  margin-top: .5em;
  font-size: large;
}
.choicebox .dialog {
  flex-grow: 1;
  margin: 1em;
}
.choicebox .choices {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.choicebox .btn {
  background:rgb(49, 64, 111);
  padding: .8rem;
  margin: .5rem 1rem;
  color: white;
  font-weight: bold;
  border-radius: 1em;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: .6rem 1rem;

  font-size: 1.8rem;
  color: white;
  background-color: rgb(49, 64, 111);
  box-shadow: 2px 0px 2px black;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.logo {
  font-family: 'Carter One', cursive;;
}



.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  padding-top: 3.5rem;
  height: 80vh;
  background-color: #b0d493;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23669d63' fill-opacity='0.98' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
  overflow-y: auto;
}

.player-card {
  position: relative;
  padding: 1rem;
  margin: .5rem;
  width: 250px;
  height: 250px;
  border: 2px solid black ;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  transition: all ease-in 1s;
}

.dying {
  background-color: red;
  opacity: 0;
}
.card-chunks {
  padding: 1rem;
  width: 100%;
}
.card-chunk {
  display: flex;
  justify-content: space-between
}
.card-chunk div {
  padding: 1rem 0;
}
.player-card:hover .card-chunks {
  display: none
}
.card-name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.4rem;
  padding: 1rem 1rem 0 1rem;
}
.card-name div {
  display: flex;
  align-items: center;
}
.attributes {
  padding: 1rem;
  flex-direction: column;
  display: none;
}
.attributes div {
  display: flex;
  justify-content: space-between;
}
.player-card:hover .attributes {
  display: flex
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12rem;
  padding: 1rem;
  display: flex;
  background-color:#ffa691;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #a27165;
}

.footer button {
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 1rem;
  margin: auto;
  color: white;
  background-color:rgb(49, 64, 111); 
  border: unset;

}
.event-log-wrapper {
  background-color: white;
  height: 100%;
  width: 50%;
  padding: 1rem;
  border-radius: 2rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}
@media (max-width: 845px) {
  .header {
    font-size: 1.2rem;
  }
  .player-card {
    padding: .5rem;
    height: 200px;
    align-items: center;
  }
  .card-name {
    font-size: 1.2rem;
  }
  .card-chunk div {
    padding: .5rem;
  }
  .attributes {
    width: 100%;
  }

}
@media (max-width: 420px) {
  body {
    font-size: 12px;
  }
  .header {
    font-size: 1rem;
  }
  .footer {
    flex-direction: column;
  }
  .event-log-wrapper {
    width: 100%;
  }
  .player-card {
    flex-direction: row;
    padding: .5rem;
    height: 100px;
    align-items: center;
  }
  .card-name {
    font-size: 1rem;
    padding: .5rem;
    width: 50%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .card-name svg {
    width: 25px;
    padding: .5rem 0
  }
  .card-chunk {
    flex-direction: column;
    width: 100%;
  }
  .card-chunk div {
    padding: .2rem 0;
  }
  .content {
    height: 70vh;
  }
  .footer button {
    margin-top: 1rem;
  }
}